.box {
    height: 328px;
    width: 604px;
    background-color: #ffffff;
    border: 3px solid #c7e6f4;
    margin: 100px auto;
    border-radius: 20px;
    box-shadow: 0 0 30px 0 #c7e6f4;
    position: relative;
    background: -webkit-linear-gradient(top, #ffffff, #f7fdff);
}

a {
    text-decoration: none;
    color: #333333;
}

.logo img {
    border-radius: 50%;
    position: absolute;
    left: 17px;
    top: 17px;
    box-shadow: 3px 3px 3px 0 #000000;
}

.title {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    margin-top: 22px;
    margin-left: 60px;
}

.ren img {

    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 20px;
}

.lan {
    width: 508px;
    height: 32px;
    margin-top: 20px;
    margin-left: 47px;
    background-color: #f7fdff;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.lan span {

    font-size: 11px;
    line-height: 32px;

}

.main {
    /* display: none; */
    width: 508px;
    height: 170px;
    margin-top: 17px;
    margin-left: 30px;
}

.main 文字 {
    font-size: 14px;
    margin-top: 200px;

    color: #fff;
    position: relative;
}

.ji {
    height: 100%;
    width: 100px;
    position: absolute;
    top: 110px;
    display: block;
    right: -30px;

}

.ji::before {
    content: "\e666";
    font-family: "iconfont";

}

.ji::after {
    font-family: "iconfont";
    content: "\e612";
}

.box1 {
    width: 70%;
    height: 100%;
    position: relative;
}

.first {
    position: absolute;
    border: none;
    padding: 0;
    top: 1px;
    border-radius: 5px;
    left: 1px;
    width: 50px;
    height: 28px;
    background-color: #bef6ff;
}

.yuan1 {
    border-radius: 50%;
    border: 1px solid #a3b1b3;
    float: left;
    margin-top: 5px;
    margin-left: 6px;
    height: 6px;
    width: 6px;
}

.hen1 {
    height: 15px;
    width: 10px;
    background-color: #2f3d3f;
    margin-top: 0px;
    margin-right: 7px;
    float: right;

}

.hen2 {
    height: 15px;
    width: 10px;
    margin-top: 0px;
    margin-right: 3px;
    background-color: #2f3d3f;
    float: right;
}

.yuan2 {
    border-radius: 50%;
    border: 1px solid #a3b1b3;
    float: left;
    margin-top: 5px;
    margin-left: 6px;
    height: 6px;
    width: 6px;
}



.hen3 {
    height: 15px;
    width: 10px;
    background-color: #2f3d3f;
    margin-top: 0px;
    margin-right: 7px;
    float: right;
}

.hen4 {
    height: 15px;
    width: 10px;
    margin-top: 0px;
    margin-right: 3px;
    background-color: #2f3d3f;
    float: right;
}


.second {
    position: absolute;
    border: none;
    padding: 0;
    top: 33px;
    border-radius: 5px;
    left: 1px;
    width: 50px;
    height: 28px;
    background-color: #bef6ff;
}



.neirong {
    width: 440px;
    height: 150px;
    margin-left: 80px;
    margin-top: 4px;
    background-color: #ffffff;
    overflow: auto;
    border: none;
}

.neirong div {
    width: 100%;
    height: 45px;
    background: -webkit-linear-gradient(right, #ffffff, #e6f9fc);

    margin-top: 3px;
    border-radius: 7px;
}

.neirong[class^="nei"] {
    box-shadow: 0 0 5px 0 #e6f9fc;
}

.nei1 {
    position: relative;
}

.nei2 {
    position: relative;
}

.nei3 {
    position: relative;
}

.nei4 {
    position: relative;
}

.nei5 {
    position: relative;
}

.nei1 img {
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 6px;

}

.nei2 img {
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 6px;

}

.nei3 img {
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 6px;
}

.nei4 img {
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 6px;
}

.nei5 img {
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 6px;
}




.wuyu {
    position: absolute;
    top: 14px;
    left: 46px;
    font-size: 12px;
    color: #c0c9cb;
}

.time {
    font-size: 12px;
    color: #c0c9cb;
    top: 14px;
    left: 200px;
    position: absolute;
}

.删除 {

    position: absolute;
    top: 14px;
    right: 80px;
    font-size: 12px;
    color: #c0c9cb;
}

.回复 {
    position: absolute;
    top: 14px;
    right: 20px;
    font-size: 12px;
    color: #c0c9cb;
}

.solo {
    position: absolute;
    top: 250px;
    right: 15px;
    background-color: #39c8d2;
    border-radius: 5px;
    width: 35px;
    height: 20px;
}

button {
    border: none;
    padding: 0;
    font-size: 8px;
    color: #000000;
    background-color: transparent;
    top: 4px;
    right: 6px;
    font-weight: 700;
    position: absolute;
}

.footer {
    position: absolute;
    bottom: 4px;
    left: 4px;
}